/*Logo styling starts*/
.logo__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around;
}
.navbar-form{
  flex: 0 1 441px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 2%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}
nav ul a {
  text-decoration: none;
  transition: all .5s ease;
}
nav li {
  display: inline-block;
}
.language__selector {
  flex: 0 0 232px;
  padding-top: 30px;
}
.language__selector select{
  border:none;
  color: #000;
  margin-top:10px;
}
.input-group{
  max-width: 395px;
  width: 100%;
  margin-top: 26px;
  
}
.input-group .form-control{
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
}
.btn{
  border-radius: 18px;
}
.signin{
  background: #12b318;
    padding: 17px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-family:'Roboto', sans-serif;
  font-weight:300;
}
.signin:hover{
  text-decoration: none;
  color: #fff;
}
/*Banner Styling*/
.header__banner{
  background: url("../img/heroimage.jpg")center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 11% 0;
}
.banner__header{
  position: relative;
  top: 65px;
}
.banner__header h2{
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 15px;
}
.banner__items {
  background: rgba(255,255,255,0.6);
  text-align: center;
  position: relative;
  top: 15px;
  padding: 10px;
}
/*Common question styling*/
.common__questions h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: #3bd0f1;
  margin-top: 30px;
  text-align: center;
}
.reset__pwdwrap h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #3bd0f1;
}
.reset__pwdwrap p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #4a4747;
}
.common__questions{
  padding: 30px 0;
}
/*New ticket stylinmg starts*/
.new__ticket{
    background: url(../img/polygons.jpg)no-repeat;
    padding: 40px;
}
.ticket__header{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 25px;
}
.btn-create{
  background:#2285a2;
  color: #fff;
  font-size:17px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  padding: 8px 20px;
  border: none;
  border-radius:8px;

}
.ticket__btnwrapper{
  display: block;
  text-align: center;
  padding-bottom: 25px;
}
.btn-create:hover{
  background: #19a8d2;
  -webkit-transition: 0.5 ease;
  -o-transition: 0.5 ease;
  transition: 0.5 ease;
}
/*Footer styling*/
.footer__heading{
  color: #0473c4;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0 10px 0;
  text-transform: capitalize;
}
.footer__socialize ul{
  display: flex;
  padding: 0;
}
.footer__socialize ul li{
  margin-right: 25px;
  list-style: none;
}

.share_icon{
  margin-top: 10px;
  color: #464242;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.divider{
  width: 100%;
  overflow: hidden;
  height: 3px;
  background: #0473c4;
  position: absolute;
  top: 20px;
}
.footer__linkheader ul{
  padding: 0;
}
.footer__linkheader ul li{
  list-style: none;
  font-family:'Roboto', sans-serif;
  font-size:15px;
  font-weight: 400;
  text-transform: capitalize;
}
.footer__linkheader ul li a:hover{
  color: #5bbeeb;
  text-decoration: none;
  
}
.fb{
  color: #2530af;
}
.t{
  color:  #5bbeeb;
}
.gplus{
  color: red;
}
.footer__links{
  padding-top: 20px;
}
